<h1>Styles</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @styles.each do |style| %>
      <tr>
        <td><%= link_to style.name, style %></td>
        <td><%= style.description %></td>
        <% unless current_user.nil? or not current_user.admin? %>
          <td>
            <%= link_to('Delete', style, method: :delete,
              data: { confirm: 'Are you sure?' },
              class:'btn-sm btn-danger') %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Style', new_style_path, class:'btn btn-primary' %>
