<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.js"></script>

<script>
angular.module('BreweryApp', ['ngResource'])
  .controller('BreweriesController',
    ['$scope', '$resource', function($scope, $resource) {

  $scope.breweries = $resource('breweries.json').get();

  $scope.order = 'name';
}]);
</script>

<style type="text/css">
  th {
    padding: 0 10px;
  }
  th > span:hover {
    cursor: pointer;
    text-decoration: underline;
  }
</style>

<div ng-app="BreweryApp" ng-controller="BreweriesController">
  <br>
  <p>search:  <input ng-model="search" placeholder="name, year..."></p>

  <h2>Active Breweries</h2>
  <table class="table table-hover">
    <thead>
    <th><span ng-click="order='name'">name
      <i class="fa fa-sort-alpha-asc"></i><span></th>
    <th><span ng-click="order='year'">year
      <i class="fa fa-sort-numeric-asc"></i><span></th>
    <th><span ng-click="order='-count'">beers
      <i class="fa fa-sort-amount-desc"></i><span></th>
    </thead>
    <tr ng-repeat="b in breweries.active | orderBy:order | filter:search">
      <td>{{b.name}}</td>
      <td>{{b.year}}</td>
      <td>{{b.count}}</td>
    </tr>
  </table>
  <h2>Retired Breweries</h2>
  <table class="table table-hover">
    <thead>
    <th><span ng-click="order='name'">name
      <i class="fa fa-sort-alpha-asc"></i><span></th>
    <th><span ng-click="order='year'">year
      <i class="fa fa-sort-numeric-asc"></i><span></th>
    <th><span ng-click="order='-count'">beers
      <i class="fa fa-sort-amount-desc"></i><span></th>
    </thead>
    <tr ng-repeat="b in breweries.retired | orderBy:order | filter:search">
      <td>{{b.name}}</td>
      <td>{{b.year}}</td>
      <td>{{b.count}}</td>
    </tr>
  </table>  
</div>